USE [master]
GO
/****** Object:  Database [CEMRESTApi]    Script Date: 15-10-2018 15:32:54 ******/
CREATE DATABASE [CEMRESTApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CEMRESTApi_Data', FILENAME = N'c:\dzsqls\CEMRESTApi.mdf' , SIZE = 8192KB , MAXSIZE = 15360KB , FILEGROWTH = 7168KB )
 LOG ON 
( NAME = N'CEMRESTApi_Logs', FILENAME = N'c:\dzsqls\CEMRESTApi.ldf' , SIZE = 8192KB , MAXSIZE = 20480KB , FILEGROWTH = 12288KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CEMRESTApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CEMRESTApi]
GO
USE [CEMRESTApi]
GO
/****** Object:  User [figgus_SQLLogin_1]    Script Date: 15-10-2018 15:32:59 ******/
CREATE USER [figgus_SQLLogin_1] FOR LOGIN [figgus_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [figgus_SQLLogin_1]
GO
/****** Object:  Schema [figgus_SQLLogin_1]    Script Date: 15-10-2018 15:33:01 ******/
CREATE SCHEMA [figgus_SQLLogin_1]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 15-10-2018 15:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[idNota] [int] IDENTITY(1,1) NOT NULL,
	[calificacion] [float] NOT NULL,
	[fecha] [date] NULL,
	[numeral] [int] NULL,
	[idUsuarioFK] [int] NULL,
	[idProgramaEstudiosFK] [int] NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[idNota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15-10-2018 15:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[pnombre] [varchar](50) NULL,
	[snombre] [varchar](50) NOT NULL,
	[appat] [varchar](50) NULL,
	[apmat] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[fonoCelular] [varchar](50) NULL,
	[fonoFijo] [varchar](50) NOT NULL,
	[tipoUsuario] [int] NULL,
	[alumnoRegular] [int] NULL,
	[idCarrera] [int] NOT NULL,
	[idInstitucion] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Notas] ON 

INSERT [dbo].[Notas] ([idNota], [calificacion], [fecha], [numeral], [idUsuarioFK], [idProgramaEstudiosFK]) VALUES (1, 6.8, NULL, 1, 1, 1)
INSERT [dbo].[Notas] ([idNota], [calificacion], [fecha], [numeral], [idUsuarioFK], [idProgramaEstudiosFK]) VALUES (2, 3.9, NULL, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Notas] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [username], [password], [pnombre], [snombre], [appat], [apmat], [email], [fonoCelular], [fonoFijo], [tipoUsuario], [alumnoRegular], [idCarrera], [idInstitucion]) VALUES (1, N'figgus', N'1234', N'joaquin', N'salvador', N'gamboa', NULL, N'jgamboa007@gmail.com', N'12345', N'1234', 1, 1, 1, 1)
INSERT [dbo].[Usuario] ([idUsuario], [username], [password], [pnombre], [snombre], [appat], [apmat], [email], [fonoCelular], [fonoFijo], [tipoUsuario], [alumnoRegular], [idCarrera], [idInstitucion]) VALUES (2, N'romulo', N'1234', N'eomulo', N'eomulo', N'eomulo', N'eomulo', N'eomulo', N'eomulo', N'eomulo', 1, 1, 1, 11)
INSERT [dbo].[Usuario] ([idUsuario], [username], [password], [pnombre], [snombre], [appat], [apmat], [email], [fonoCelular], [fonoFijo], [tipoUsuario], [alumnoRegular], [idCarrera], [idInstitucion]) VALUES (3, N'pantalla', N'teclado', N'teclado', N'pantalla', N'tecladoso', N'pantalloso', N'pantalla@gmail.com', N'1234', N'123', 1, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD  CONSTRAINT [FK_Notas_Usuario] FOREIGN KEY([idUsuarioFK])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Notas] CHECK CONSTRAINT [FK_Notas_Usuario]
GO
USE [master]
GO
